@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Staatliches&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  background-color: red;
}

.App {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);
  font-family: 'Staatliches', cursive;
}

.search {
  min-height: 10vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 960px) {
  .search {
    width: 50%;
  }
}

.search__bar {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  padding: 7px;
  font-size: 18px;
  line-height: 10px;
  font-weight: bold;
}

@media (min-width: 0) {
  .search__bar {
    width: 50%;
  }
}

@media (min-width: 720px) {
  .search__bar {
    font-size: 24px;
    padding: 11px;
  }
}

@media (min-width: 960px) {
  .search__bar {
    width: 50%;
  }
}

.search__button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 7px 20px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  background-color: #ff0844;
}

@media (min-width: 720px) {
  .search__button {
    padding: 10px 30px;
  }
}

.search__button__icon {
  font-size: 16px;
}

@media (min-width: 720px) {
  .search__button__icon {
    font-size: 30px;
  }
}

.recipes {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 30px;
}

.recipes__recipe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff5;
  border-radius: 20px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 0) {
  .recipes__recipe {
    margin: 20px;
  }
}

@media (min-width: 480px) {
  .recipes__recipe {
    margin: 30px 50px;
  }
}

@media (min-width: 720px) {
  .recipes__recipe {
    margin: 40px 50px;
  }
}

@media (min-width: 960px) {
  .recipes__recipe {
    margin: 20px 0;
    width: 45%;
  }
}

.recipes__recipe h1 {
  font-family: 'Staatliches', cursive;
  text-shadow: 2px 2px #ffff;
  text-align: center;
  max-width: 80%;
}

@media (min-width: 0) {
  .recipes__recipe h1 {
    font-size: 36px;
    margin: 10px;
  }
}

@media (min-width: 480px) {
  .recipes__recipe h1 {
    font-size: 42px;
  }
}

@media (min-width: 720px) {
  .recipes__recipe h1 {
    font-size: 48px;
  }
}

@media (min-width: 960px) {
  .recipes__recipe h1 {
    font-size: 54px;
  }
}

.recipes__recipe p {
  margin-bottom: 8px;
  font-size: 18px;
}

@media (min-width: 480px) {
  .recipes__recipe p {
    font-size: 20px;
  }
}

@media (min-width: 720px) {
  .recipes__recipe p {
    font-size: 24px;
  }
}

.recipes__recipe img {
  width: 250px;
  height: 250px;
}

@media (min-width: 480px) {
  .recipes__recipe img {
    width: 300px;
    height: 300px;
  }
}

.recipes__recipe ol {
  max-width: 70%;
}

@media (min-width: 720px) {
  .recipes__recipe ol {
    width: 60%;
    padding: 20px 0;
  }
}

.recipes__recipe li {
  list-style: disc;
  font-size: 14px;
}

@media (min-width: 480px) {
  .recipes__recipe li {
    font-size: 18px;
  }
}

@media (min-width: 720px) {
  .recipes__recipe li {
    font-size: 20px;
  }
}

.recipes__error {
  padding: 10px;
}

.recipes__error h1 {
  text-align: center;
}

.recipes__error p {
  text-align: center;
}

.recipes__error p strong {
  color: red;
}

@media (min-width: 0) {
  .recipes__error h1 {
    font-size: 40px;
  }
}

@media (min-width: 480px) {
  .recipes__error h1 {
    font-size: 48px;
  }
  .recipes__error p {
    font-size: 24px;
  }
}

@media (min-width: 720px) {
  .recipes__error h1 {
    font-size: 50px;
  }
}
/*# sourceMappingURL=style.css.map */